services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: university-marks-manager:fastapi
    command: uvicorn src.app.main:app --host 0.0.0.0 --port 8000 --proxy-headers --workers 2
    restart: unless-stopped
    volumes:
      - .:/app
    ports:
      - "18000:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@db/mydatabase
    depends_on:
      - db

  db:
    image: postgres:13
    restart: unless-stopped
    volumes:
      - postgres_data_nas:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydatabase

volumes:
  postgres_data_nas:
