services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.fastapi
    image: university-marks-manager:fastapi
    command: uvicorn src.app.main:app --host 0.0.0.0 --port 8000 --proxy-headers --workers 2
    restart: unless-stopped
    volumes:
      - ./data:/app/data
    ports:
      - "18000:8000"
